.footer-container{
  padding: 80px;
  background-color: #cdb4db;
  position: relative;
  height: 400px;
  color: white;
  width: 100%;
  margin-top: 120px;
  justify-content: center;
  border-radius: 15px;

}
.footer-container h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  justify-content: center;
}

.footer-container p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.banner-desc{
  display: flex;
  justify-content: center;
}

.banner-desc .left h3{
  font-weight: 900;
  font-size: 80px;
  align-items: center;
}
.banner-desc .left p{
  margin:18px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a::hover i{
  color: aqua;
}
