.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #35255c;
  color: white;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.icon {
  width: 1.35rem;
  height: 2.35rem;
  margin-right: 2.5rem;
}

.icon img {
  width: 40px;
  height: 40px;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

