.successWrapper {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
    padding: 78px 0px;
    text-align: center;

}

.success,
.cancel {
    width: 1000px;
    margin: auto;
    background-color: #fdeffb;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 60px;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: #324d67;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.success .description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #e2a3ff;
}

.btn-container {
    width: 400px;
    margin: auto;
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: salmon;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}