.form {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25r;
  border-radius: 20px;
  font-weight: bold;
  width: 150px;
  height: 40px;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}