.starting {
    margin: auto;
    text-align: center;
    position: relative;
  }

  .content {
    min-height: 90vh;
    color: #35255c;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .starting h1 {
    font-size: 13rem;
    margin-top: 250px;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
  }

  .starting h4 {
    font-size: 1.6rem;
  }
